.main-container{
    height: auto;
    width:70vh;
    border-radius: 2rem;
    margin-top: 12%;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}