body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(46, 125, 83);
    color: white;
    box-sizing: border-box; 
    z-index: 1000;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar-links a i {
    margin-right: 8px;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  
  .main-content {
    margin-top: 60px; 
    padding: 20px;
  }