/* Register.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .registerForm{
    border: 1px solid green;
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    width: 50%;
    margin:auto;
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .login-link {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border-radius: 2rem;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 60px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }